<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- applicationContext.xml -->
<bean id="mod5" class="com.bit.day04.modul.Module5">
	<property name="arr">
		<array>
			<value>a1</value>
			<value>a2</value>
			<value>a3</value>
			<value>a4</value>
		</array>
	</property>
	<property name="list">
		<list>
			<value>A1</value>
			<value>B2</value>
			<value>C3</value>
			<value>D4</value>
		</list>
	</property>
	<property name="set">
		<set>
			<value>aaaa</value>
			<value>bbbb</value>
			<value>cccc</value>
			<value>aaaa</value>
			<value>bbbb</value>
		</set>
	</property>
	<property name="map">
		<!-- <map>
			<entry key="key1" value="val1"></entry>
			<entry key="key2" value="val2"></entry>
			<entry key="key3" value="val3"></entry>
			<entry key="key4" value="val4"></entry>
		</map> -->
		<props>
			<prop key="key1">val1</prop>
			<prop key="key2">val2</prop>
			<prop key="key3">val3</prop>
			<prop key="key4">val4</prop>
		</props>
	</property>
</bean>

<bean id="mod4" class="com.bit.day04.modul.Module4">
	<property name="msg" value="abcd"/>
	<property name="num1" value="1000"/>
	<property name="num2" value="3.14"/>
	<property name="ch" value="@"/>
	<property name="boo" value="true"/>
</bean>

<bean id="mod" class="com.bit.day04.modul.Module3">
	<!-- <property name="module" ref="module"></property> -->
	<constructor-arg ref="module"></constructor-arg>
</bean>

<bean id="module" class="com.bit.day04.modul.Module2">
	<!-- <property name="msg" value="환영할까?"></property> -->
	<constructor-arg value="환영할까?"></constructor-arg>
</bean>


</beans>
